*{
  margin: 0;
  padding: 0;
}

.nav{
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
  align-items: center;
}

.nav ul{
display: flex;
list-style: none;
}

.nav ul li{
margin: 10px;
}

.nav ul li :hover{
border: solid #dedede;
font: 50px;
}


img{
  height: 40px;
  width: 70px;
}

.nav .logo{
  display: flex;
}

.duct{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding: 50px 50px;

}

.duct img{
  margin: 20px;
}
.duct :hover{
border: solid springgreen 5px;
}

.duct img{
  height: 100px;
  width: 200px;
}

.footer{
  background-color: springgreen;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

